@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Sedgwick+Ave+Display&display=swap');

body {
    align-items: center;
    background-image: linear-gradient(to right, lightblue, lightgreen);
}

main {
    width: 500px;
    margin: auto;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 5px 5px 13px rgb(0, 114, 143);
}

h1 {
    font-family: 'Sedgwick Ave Display', sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    text-align: justify;
}

.font {
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
}