@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.espaco {
    top: 0px;
    left: 0px;
    position: relative;
    text-align: center;
    margin: auto;
    height: 100%;
}
.astronauta {
    top: 10%;
    left: 30%;
    position: absolute;
    margin: auto;
}
img {
    margin: auto;
}